.App {
  text-align: center;
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(135deg,#6a5de2,#5081e2);
}

.App-header {
  text-align: center;
  font-size: 24px;
  color: #333; /* Set your desired text color */
  margin-bottom: 20px;
}

.App-link {
  color: #61dafb;
}

